{% extends 'base.html' %}

{% block title %}List highlights{% endblock %}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
$('#generate').bind('click', function() {
var brush = $('#brush').val();
$('#preview').html('<pre class="brush: ' + brush +'">' + $('#content').val() + '</pre>');
SyntaxHighlighter.highlight();
});
});
</script>

<div>
    <form action="/new?%s" method="post">
      <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}"></div>
      <div><input type="text" name="title" placeholder="Enter title..." /> <select id="brush" name="brush">
{% for brush in brushes %}
<option{% if brush == 'Java' %} selected="selected"{% endif %}>{{ brush.lower() }}</option>
{% endfor %}
</select></div>
      <div><textarea name="content" id="content" rows="3" cols="60" placeholder="Enter your code..."></textarea></div>
      <div><input type="submit"> <a href="#" class="button" id="generate">generate preview</a></div>
      <div><strong>Preview</strong><br /><div id="preview"><pre class="brush: java">No content yet.</pre></div></div>
    </form>
</div>
<div>
<h2>Previous highlights</h2>
<ul>
{% for highlight in highlights %}
  <li><a href="/show/{{ highlight.key.urlsafe() }}">{{ highlight.title }}</a></li>
{% endfor %}
</ul>
</div>

<script type="text/javascript">
SyntaxHighlighter.all();
</script>
{% endblock %}

